PORT=6000

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=Johnpaul@123
DB_NAME=eway_db

EWAY_USERNAME=krishnapriya.p@kggeniuslabs.com
EWAY_PASSWORD=Masters@12345

BASE_URL=https://sandb-api.mastersindia.co/api/v1